# mutt
mutt/cache
public/mutt/cache

# SSH
builds/dotfiles*.tar.gz
**/id_rsa*
**/known_hosts

# Bashdot
**/*.rendered

# Misc
**/.netrwhist
public/vim/.VimballRecord
public/config/configstore/update-notifier-npm.json
.dropbox
**/Icon*
config/iterm2/*
**/.DS_Store*

# Ignore generated test files by CoC
config/nvim/bundle/coc.nvim/*\ 2
config/nvim/bundle/coc.nvim/*\ 2.*
config/nvim/bundle/coc.nvim/**/*\ 2.*
config/nvim/bundle/coc.nvim/**/*\ 2

# TODO figure out if these should be ignored
config/coc/list*
config/coc/commands

# GitHub Copilot
config/github-copilot

# Nvim
config/nvim/bundle/node_modules/
config/nvim/bundle/yarn.lock
config/nvim/pack

# TMUX
**/tmux*.log
