**/.netrwhist
public/vim/.VimballRecord
public/config/configstore/update-notifier-npm.json
.dropbox
**/Icon*

mutt/cache
public/mutt/cache

**/.DS_Store*

builds/dotfiles*.tar.gz

**/id_rsa*
**/known_hosts

**/*.rendered

config/iterm2/*

# Ignore generated test files by CoC
config/nvim/bundle/coc.nvim/*\ 2
config/nvim/bundle/coc.nvim/*\ 2.*
config/nvim/bundle/coc.nvim/**/*\ 2.*
config/nvim/bundle/coc.nvim/**/*\ 2

# TODO figure out if these should be ignored
config/coc/list*
config/coc/commands

# GitHub Copilot
config/github-copilot
